extends ../layout

block content
  .container.marginbot
    .row
      table.table.table-hover.table-bordered
        thead
          tr
            //-th 类别
            th 课程名字
            th 课程老师
            th 年级
            th 课程介绍
            th 录入时间
            //-th pv
            th 查看
            th 修改
            th 删除
        tbody
          each item in sources
            tr(class="item-id-#{item._id}")
              //-td #{item.category.name}
              td #{item.title}
              td #{item.teacher}
              td #{item.grade}
              td #{item.summary}
              td #{moment(item.meta.updateAt).format('MM/DD/YYYY HH:mm:ss')}
              //-td #{item.pv}
              td: a(target="_blank", href="/watch?id=#{item._id}") 查看
              td: a(target="_blank", href="/admin/movie/update/#{item._id}") 修改
              td
                button.btn.btn-danger.del(type="button", data-id="#{item._id}") 删除
  script(src="/js/sourcelist.js")